.tulisan_warna {
    text-align: center;
    text-decoration: underline;
    color: blue;
    letter-spacing: 5px;
}
.par1{
    letter-spacing: 5px;
    color: blue;
    text-align: center;
    text-decoration: underline;
}