body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    text-align: center; /* Center content */
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.back-button {
    position: absolute;
    top: 20px; 
    left: 20px; 
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #0056b3; 
}

.dropdown-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-right: 10px;
    align-self: center; /* Center label vertically */
}

#ratingFilter {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px; /* Set a fixed width for the dropdown */
    box-sizing: border-box;
}

.styled-table {
    width: 80%;
    margin: 0 auto; /* Center the table */
    border-collapse: collapse;
    margin-bottom: 25px;
    font-size: 18px;
    text-align: left;
    border: 1px solid #ddd;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table thead tr {
    background-color: #3498db;
    color: white;
    text-align: left;
}

.styled-table tr:nth-child(even) {
    background-color: #f3f3f3;
}

.styled-table tr:hover {
    background-color: #ddd;
}

.styled-table th {
    background-color: #3498db;
    color: white;
}

.container {
    margin-top: 50px; 
}
